<ul class="list-unstyled">
  <% fav_microposts.each do |fav_micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(fav_micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to fav_micropost.user.name, user_path(fav_micropost.user) %> <span class="text-muted">posted at <%= fav_micropost.created_at %></span>
        </div>
        <div>
          <p class="md-0"><%= fav_micropost.content %></p>
        </div>
        <div class="row">
          <%= render 'favorites/favorite_button', micropost: fav_micropost %>
          
          <% if current_user == fav_micropost.user %>
            <span><%= link_to "Delete", fav_micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %></span>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate fav_microposts %>
</ul>